<!DOCTYPE html>
<html lang="en">
{{>head-content}}

<body>

    <!-- Navigation -->
    {{>nav}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>My CV</h1>
                        <hr class="small">
                        <span class="subheading">Here is my CV</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm"
                                placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="colFormLabel" placeholder="Your email address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea">Message</label>
                        <textarea class="form-control" id="" rows="3" placeholder="write your massage"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>


                <h1>Repos List From Github</h1>
                <a class="btn btn-default" id="btnGetRepos" href="#" role="button">Get Repos List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br />
                <div id="reposInfo">
                    <small></small>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {{>footer}}

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>