<!DOCTYPE html>
<html lang="en">
{{>head-content}}

<body>
    <!-- Navigation -->
    {{>nav}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/blog-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{}}{{}}</h1>
                        <hr class="small" />
                        <span class="subheading">Today is the {{date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Footer -->
    {{>footer}}

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/clean-blog.min.js"></script>
</body>

</html>