<!DOCTYPE html>
<html lang="en">

{{>head-content}}

<body>

    <!-- Navigation -->
    {{>nav}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/cv-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>My CV</h1>
                        <hr class="small">
                        <span class="subheading">Here is my CV</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h1>Repos List From Github</h1>
                <a class="btn btn-default" id="btnGetRepos" href="#" role="button">Get Repos List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br />
                <div id="reposInfo">
                    <small>No Repos retrieved</small>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {{>footer}}

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>